What the Jug is just a simple imageboard for Adventure Time images. It is inspired by <a href="http://www.mylittlefacewhen.com">My Little Face When</a>.

Grab the source code <a href="https://github.com/khwang/whatthejug">here</a> and feel free to submit pull requests!
