<% @images.each do |image| %>
  <div class="box">
    <% if session[:admin] %>
      <%= link_to image_tag(image.data.url), edit_image_path(image) %>
    <% else %>
      <%= link_to image_tag(image.data.url), image %>
    <% end %>
  </div>
<% end %>


<script>
  WTJ.Images.layoutImages($("#imagesContainer"));
</script>

