<div id="imagesWrapper">
  <div>
    <img src="<%= @image.url %>">
  </div>

  Tags: 

  <% @image.tags.each do |tag| %>
    <%= tag.name %>
<% end %>
<br>

  <%= link_to 'Edit', edit_image_path(@image) %> |
  <%= link_to 'Back', images_path %>
</div>
